:root {
    --principal: #009ab7;
    --secundario: rgba(0, 154, 183, .2);
    --blanco: #fff;
}

/* ------ HEADER ------ */

.header .search-bar .bi {
    color: var(--principal);
    font-size: 1.2rem;
}

.header .search-bar input[type=text] {
    background-color: var(--secundario);;
    color: var(--principal);
    border-radius: 100px;
}

.header .search-bar input[type=text] {
    color: var(--principal);
}

.header .search-bar input[type=text]:focus {
    outline: 2px solid black;
    color: var(--principal);
    background: var(--secundario);
}

.header .search-bar input[type=text]::-webkit-input-placeholder {
    color: var(--principal);
    font-size: 1.2rem;
}

.header .search-bar input[type=text]::-moz-placeholder {
    color: var(--principal);
    font-size: 1.2rem;
}

.header .search-bar input[type=text]:-ms-input-placeholder {
    color: var(--principal);
    font-size: 1.2rem;
}

.header .search-bar input[type=text]::-ms-input-placeholder {
    color: var(--principal);
    font-size: 1.2rem;
}

.header .search-bar input[type=text]::placeholder {
    color: var(--principal);
    font-size: 1.2rem;
}

.header .menu a .bi {
    font-size: 1.6rem;
    color: var(--principal);
}

.header .menu .selected {
    border-bottom: 4px solid var(--principal);
}

.header .menu a:not(.selected):hover {
    color: var(--blanco);
    background: var(--principal);
    border-radius: 5px;
}

.header .menu a:not(.selected):hover > i {
    color: var(--blanco);
}

.header .actions-end a span {
    max-width: 75px;
    color: var(--principal);
}

.header .actions-end a:hover span {
    color: var(--blanco);
}

.header .actions-end a .bi {
    font-size: 1.6rem;
    color: var(--principal);
}

.header .actions-end a:hover {
    color: var(--blanco);
    background: var(--principal);
    border-radius: 100px;
}

.header .actions-end a:hover > i {
    color: var(--blanco);
}

.header .actions-end a {
    height: 50px;
    min-width: 50px;
}

.header a {
    text-decoration: none;
}

.header .thumbnail {
    max-height: 50px;
}

/* ------ LEFT SIDEBAR ------ */

.left-sidebar a .bi {
    font-size: 1.4rem;
}

.left-sidebar nav a {
    color: var(--principal);
}

.left-sidebar > nav > a:hover {
    color: var(--blanco);
    background: var(--principal);
}

.left-sidebar > nav > .user:hover > .user-name {
    display: flex;
    flex-direction: column;
}

.left-sidebar .user {
    border-radius: 25px;
}

.left-sidebar > footer > nav > a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.left-sidebar a {
    text-decoration: none;
}

.left-sidebar .thumbnail {
    max-height: 50px;
}

/* ------ MAIN-CONTENT ------ */

.main-content .comment-box input[type=text] {
    background-color: var(--secundario);;
    color: var(--principal);
    border-radius: 100px;
}

.main-content .comment-box input[type=text]:focus {
    outline: 2px solid black;
    color: var(--principal);
    background: var(--secundario);
}

.main-content .comment-box input[type=text]::-webkit-input-placeholder {
    color: var(--principal);
    font-weight: bold;
}

.main-content .comment-box input[type=text]::-moz-placeholder {
    color: var(--principal);
    font-weight: bold;
}

.main-content .comment-box input[type=text]:-ms-input-placeholder {
    color: var(--principal);
    font-weight: bold;
}

.main-content .comment-box input[type=text]::-ms-input-placeholder {
    color: var(--principal);
    font-weight: bold;
}

.main-content .comment-box input[type=text]::placeholder {
    color: var(--principal);
    font-weight: bold;
}

.main-content .comment-box .bi {
    color: var(--principal);
    font-size: 1.4rem;
}

.main-content .comment-box a {
    color: var(--principal);
}

.main-content .comment-box a:hover {
    color: var(--blanco);
    background: var(--principal);
    border-radius: 5px;
}

.main-content .comment-box a:hover > i {
    color: var(--blanco);
}

.main-content hr {
    color: var(--principal);
}

.main-content .card-header a {
    color: var(--principal);
}

.main-content .card-header a:hover {
    text-decoration: underline;
}

.main-content p {
    color: var(--principal);
}

.main-content .card-footer button {
    border: none;
    color: var(--principal);
    background-color: var(--secundario);
}

.main-content .card-footer .top button {
    background-color: var(--blanco);
}

.main-content .card-footer .top button:hover {
    background-color: var(--principal);
    color: var(--blanco);
    padding: 10px;
}

.main-content .card-footer .bottom button:hover {
    background-color: var(--principal);
    color: var(--blanco);
}

.border-primary {
    border-color: var(--secundario) !important;
}

.main-content a {
    text-decoration: none;
}

.main-content .thumbnail {
    max-height: 50px;
}

/* ------ RIGHT SIDEBAR ------ */

.right-sidebar h6 {
    color: var(--principal);
}

.right-sidebar .add {
    height: 100px;
}

.right-sidebar .add:hover {
    transform: scale(.95);
}

.right-sidebar .contacts a {
    color: var(--principal);
}

.right-sidebar .contacts a:hover {
    background-color: var(--principal);
    color: var(--blanco);
}

.right-sidebar a {
    text-decoration: none;
}

.right-sidebar .thumbnail {
    max-height: 50px;
}